<%= form_with(model: @label, local: true) do |label| %>
  <% if @label.errors.any? %>
    <div id="error_explanation">
      <h2><%= @label.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @label.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-4">
    <%= label.label :name %>
    <%= label.text_field :name , class: "form-control", placeholder: "ラベル名を記載。例：家事" %>
  </div>

  <%= label.submit "登録", class: "btn btn-primary mt-4" %>
<% end %>