<h1 class="my-3">ラベルの一覧</h1>

<div class="row">
  <div class="col-md-6">
    <table class="table table-hover">
      <tr>
        <th>ラベル</th>
        <th>作成日</th>
        <th></th>
      </tr>
      <% @labels1.each do |l| %>
        <tr>
          <th><%= l.name %></th>
          <th><%= l.created_at.strftime('%Y/%m/%d') %></th>
          <th><%= link_to "編集", edit_label_path(l.id), class: "btn btn-secondary" %>
          <%= link_to "削除", label_path(l.id), method: :delete ,data: { confirm: '本当に削除していいですか'}, class: "btn btn-danger mx-2" %></th>
        </tr>
      <% end %>
    </table>
  </div>
  <% if @labels2 %>
    <div class="col-md-6">
      <table class="table table-hover">
        <tr>
          <th>ラベル</th>
          <th>作成日</th>
          <th></th>
        </tr>
        <% @labels2.each do |l| %>
          <tr>
            <th><%= l.name %></th>
            <th><%= l.created_at.strftime('%Y/%m/%d') %></th>
            <th><%= link_to "編集", edit_label_path(l.id), class: "btn btn-secondary" %>
            <%= link_to "削除", label_path(l.id), method: :delete ,data: { confirm: '本当に削除していいですか'}, class: "btn btn-danger mx-2" %></th>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
<%= link_to "新規登録", new_label_path , class: "btn btn-primary" %>
