<h1 class="mt-3">ユーザー投稿一覧</h1>

<div class="d-flex flex-row my-3">
  <%= search_form_for @q do |f| %>
    <div class="input-group">
      <%= f.label :title_or_detail_public_or_detail_secret_or_detail_deeply_or_labels_name_cont, '検索条件', class: 'input-group-text' %>
      <%= f.search_field :title_or_detail_public_or_detail_secret_or_detail_deeply_or_labels_name_cont, class: "form-control" %>
      <div class="input-group-append">
        <%= f.submit "検索", class: "btn btn-outline-success" %>
      </div>
    </div>
  <% end %>
</div>

<div class="mb-3">
  <table class="table table-hover">
    <thead class="tehad-default">
      <tr>
        <th><%= sort_link(@q, :title, "タイトル") %></th>
        <th><%= sort_link(@q, :detail_public, "詳細") %></th>
        <th><%= sort_link(@q, :score, "嬉しい度", default_order: :desc ) %></th>
        <th><%= sort_link(@q, :draft, "下書き") %></th>
        <th><%= sort_link(@q, :created_at, "投稿日", default_order: :desc ) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |p| %>
        <tr>
          <td><%= link_to p.title.truncate(10), post_path(p.id),class: "task_row" %></td>
          <td><%= p.detail.public.truncate(10) %></td>
          <td><%= p.score %>％</td>
          <td><%= p.draft ? '下書き' : '公開中' %></td>
          <td><%= p.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= link_to "編集", edit_post_path(p.id), class: "btn btn-outline-secondary" %>
          <%= link_to "削除", post_path(p.id), method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除していいですか' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @posts, theme: 'bootstrap-5' %>
</div>
  <%= link_to "新規登録", new_post_path, class: "btn btn-primary" %>
  <%= link_to "ユーザー情報変更", edit_user_registration_path(current_user.id), class: "btn btn-secondary" %>
  <%= link_to "分析（chatGPTなし）", analyses_path(gpt: "no_gpt"), class: "btn btn-info", data: {turbolinks: "false"} %>
  <%= link_to "分析（chatGPTあり）", analyses_path, class: "btn btn-info", data: {turbolinks: "false"} %>
  <p>※「分析（chatGPTあり）」の場合は画面の遷移に時間を要します</p>
