<h1 class="mt-3"><%= @user.name %>さんの分析</h1>
<p class="mt-2">投稿やお気に入りのラベル情報のグラフです。<%= @user.name %>さんの喜びや楽しみの傾向がわかります。</p> 
<div class="mt-2">
  <%= high_chart("my_chart1", @chart1) %>
</div>
<div class="mt-2">
  <%= high_chart("my_chart2", @chart2) %>
</div>

<figure class="highcharts-figure">
  <div id="container"></div>
  <%# <div id="edit_area"></div>
  <input type="button" value="Check" onclick="myfunc()"> %>
</figure>

<div class="m-3">
  <h2 style="color: #6594e0; border-bottom: dashed 2px #6594e0; margin: 20px;">ChatGPTによる分析結果</h2>
  <p class="m-4">　<%= @charts %></p>
</div>

<script>
  const text = "<%= @public_boxs %>" + "<%= @secret_boxs %>" + "<%= @deeply_boxs %>",
    lines = text.replace(/[():'?0-9]+/g, '').replace(/[\]\[]/g, ',').split(/[,\. ]+/g),
    data = lines.reduce((arr, word) => {
        let obj = Highcharts.find(arr, obj => obj.name === word);
        if (obj) {
            obj.weight += 1;
        } else {
            obj = {
                name: word,
                weight: 1
            };
            arr.push(obj);
        }
        return arr;
    }, []);

Highcharts.chart('container', {
    accessibility: {
        screenReaderSection: {
            beforeChartFormat: '<h5>{chartTitle}</h5>' +
                '<div>{chartSubtitle}</div>' +
                '<div>{chartLongdesc}</div>' +
                '<div>{viewTableButton}</div>'
        }
    },
    series: [{
        type: 'wordcloud',
        data,
        name: 'Occurrences'
    }],
    title: {
        text: '投稿で多く出た言葉',
        align: 'left'
    },
    subtitle: {
        text: 'あなたが楽しいと思ったことの参考にしてください',
        align: 'left'
    },
    tooltip: {
        headerFormat: '<span style="font-size: 16px"><b>{point.key}</b></span><br>'
    }
});

// var myfunc = function () {
//     var str = ".innerHTMLで変数渡し！";
//     document.getElementById('edit_area').innerHTML = lines ;
//     }
</script>