<h2 class="mt-2"><%= t('.sign_in') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mt-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="field mt-2">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field mt-2">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions my-3">
    <%= f.submit t('.sign_in'), class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "O・KI・RAKUのアプリの説明", top_index_path, class: "btn btn-outline-info mb-3" %><br>
<div class="border-top border-bottom mb-3 border-3">
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "my-3 btn btn-outline-dark" %>
<%#= link_to 'ゲストログイン（管理者閲覧用）', users_guest_admin_sign_in_path, method: :post, class: "my-3 btn btn-outline-secondary" %>
<%= link_to 'ゲストログイン（分析確認用）', users_guest_analysis_sign_in_path, method: :post, class: "my-3 btn btn-outline-primary" %><br>
<p>※「ゲストログイン（分析確認用）」については、投稿の新規作成、編集、削除やラベルの作成、削除などはできません。</p>
</div>
<%= render "devise/shared/links" %>
