<%= form_with(model: @post, local: true) do |post| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-4">
    <%= post.label :title, title: "嬉しかったこと、楽しかったことのタイトルを記入してください" %>
    <%= post.text_field :title, class: "form-control", id: "task_name", placeholder: "例：今日は美味しいパフェを食べられた" %>
  </div>
  <%= post.fields_for :detail do |detail| %>
    <div class="field mt-2">
      <%= detail.label :public, title: "楽しかったこと、嬉しかったことの公表して良い詳細を記入してください" %>
      <%= detail.text_area :public, class: "form-control" , placeholder: detail_public_placeholder %>
    </div>
    <div class="form-group mt-2">
      <%= detail.label :secret, title: "楽しかったこと、嬉しかったことの公表したくない詳細を記入してください" %>
      <%= detail.text_area :secret , class: "form-control", placeholder: detail_secret_placeholder %>
    </div>
    <div class="form-group mt-2">
      <%= detail.label :deeply, class: "pull-left", title: "何で楽しい（嬉しい）と感じたのかや、どういう点で楽しい（嬉しい）と感じたのかを記入してください" %><span style="display: block; float: right;"><%= detail.check_box :secret_choice_deep %><span style="display: inline-block; margin-left: 10px;"><%= detail.label :secret_choice_deep, title: "深掘りした内容を公表したくない場合はチェックしてください" %></span></span>
      <%= detail.text_area :deeply , class: "form-control", placeholder: detail_deeply_placeholder %>
    </div>
  <% end %>
  <div class="form-group mt-3">
    <%= post.label :score, title: "楽しい（嬉しい）と感じた度合いを％で選んでください" %>：
    <%= post.range_field :score , in: 0..100, step: 5, class: "form-range w-25 h-25", id: "range" %>
    <span id="value"><%= @post.score || 50 %></span>％
  </div>
  <div class="form-group my-3">
    <% current_user.labels.each do |lab| %>
      <span style="display: inline-block; margin: 4px;">
        <%= post.check_box :label_ids, { multiple: true }, lab[:id], nil %>
        <%= post.label :label_ids, lab.name, value: lab[:id], class: "ml-2", title: "該当するものを複数選んでください（ラベルは追加可能です）" %>
      </span>
    <% end %>
  </div>
  <div class="form-group mt-2">
    <%= post.label :images %>：
    <%= post.file_field :images, multiple: true %>
    <%#= post.file_field :images, multiple: true, direct_upload: true %>
  </div>
  <%= post.hidden_field :draft, value: false %>
  <div class="mt-4">
    <%= post.submit "登録", name: "register", class: "btn btn-primary" %>
    <%= post.submit "下書き", class: "btn btn-dark" %>
    <%= link_to "戻る", 'javascript:history.back()' , class: "btn btn-secondary" %>
  </div>
<% end %>

<script>
  var elem = document.getElementById('range');
  var target = document.getElementById('value');
  var rangeValue = function (elem, target) {
    return function(evt){
      target.innerHTML = elem.value;
    }
  }
  elem.addEventListener('input', rangeValue(elem, target));
</script>
