<h1 class="mt-2">嬉しいこと、楽しいことの一覧</h1>

<div class="d-flex flex-row my-3">
  <%= search_form_for @q do |f| %>
    <div class="input-group">
      <%= f.label :title_or_detail_public_or_detail_secret_or_detail_deeply_cont, '検索条件', class: 'input-group-text' %>
      <%= f.search_field :title_or_detail_public_or_detail_secret_or_detail_deeply_cont, class: "form-control" %>
      <div class="input-group-append">
        <%= f.submit "検索", class: "btn btn-outline-success" %>
      </div>
    </div>
  <% end %>
</div>

<div class="my-3">
  <table class="table table-hover">
    <thead class="tehad-default">
      <tr>
        <th><%= sort_link(@q, :title, "タイトル") %></th>
        <th>画像</th>
        <th><%= sort_link(@q, :score, "嬉しい度", default_order: :desc ) %></th>
        <th><%= sort_link(@q, :user_id, "投稿者") %></th>
        <th><%= sort_link(@q, :created_at, "投稿日", default_order: :desc ) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |p| %>
        <tr>
          <td><%= link_to p.title, post_path(p.id),class: "task_row" %></td>
          <td><% if p.images.attached? %>
            <% p.images.first(3).each do |image| %>
              <%= image_tag image.variant( resize: "100x50" ) %>
            <% end %>
          <% end %></td>
          <td><%= p.score %>％</td>
          <td><%= p.user.name %></td>
          <td><%= p.created_at.strftime('%Y/%m/%d') %></td>
          <% if current_user == p.user %>
            <td><%= link_to "編集", edit_post_path(p.id), class: "btn btn-outline-secondary" %>
            <%= link_to "削除", post_path(p.id), method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除していいですか' } %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @posts, theme: 'bootstrap-5' %>
</div>
  <%= link_to "新規投稿", new_post_path, class: "btn btn-primary" %>
