<h1>嬉しいこと、楽しいことの一覧</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :title_cont, '検索条件' %>
  <%= f.search_field :title_cont %>
  <%= f.submit "検索" %>
<% end %>

<div class="mb-3">
  <table class="table table-hover">
    <thead class="tehad-default">
      <tr>
        <th>タイトル</th>
        <th>嬉しい度</th>
        <th>投稿者</th>
        <th>投稿日</th>
        <th>更新日</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |p| %>
        <tr>
          <td><%= link_to p.title, post_path(p.id),class: "task_row" %></td>
          <td><%= p.score %>％</td>
          <td><%= p.user.name %></td>
          <td><%= p.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= p.updated_at.strftime('%Y/%m/%d') %></td>
          <% if current_user == p.user %>
            <td><%= link_to "編集", edit_post_path(p.id), class: "btn btn-outline-secondary" %>
            <%= link_to "削除", post_path(p.id), method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除していいですか' } %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%#= paginate @posts %>
</div>
  <%= link_to "新規登録", new_post_path, class: "btn btn-primary" %>
