<h1>嬉しいこと、楽しいことの投稿</h1>

<%= form_with(model: @post, local: true) do |post| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-4">
    <%= post.label :title %>
    <%= post.text_field :title, class: "form-control", id: "task_name" %>
  </div>
  <div class="field mt-2">
    <%= post.label :public %>
    <%= post.text_area :public, class: "form-control" %>
  </div>
  <div class="form-group mt-2">
    <%= post.label :secret %>
    <%= post.text_area :secret , class: "form-control" %>
  </div>
  <div class="form-group mt-2">
    <%= post.label :deeply %><span class="ml-3"><%= post.label :secret_choice_deep, class: "pl-5" %><%= post.check_box :secret_choice_deep %></span>
    <%= post.text_area :deeply , class: "form-control" %>
  </div>
  <div class="form-group mt-2">
    <%= post.label :score %>
    <%= post.text_field :score , class: "form-control" %>
  </div>
  <div class="form-group mt-2">
    <%= post.label :image %>
    <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
    <%= post.file_field :image %>
    <%= post.hidden_field :image_cache %>
  </div>

  <%= post.submit "登録", class: "btn btn-primary mt-4" %>
  <%= post.submit "下書き", class: "btn btn-secondary mt-4" %>
<% end %>